:root {
  --sidebar-width: 20%;
}

.bodyContainer {
  height: 100vh;
  display: flex;
}

.sidebarMain {
  width: var(--sidebar-width);
  background-color: #fff;
  height: 100vh;
  transition: width 0.3s ease-in-out;
  overflow: auto;
}

.sidebarHidden {
  width: 0;
}

.sidebarVisible {
  width: var(--sidebar-width);
}
.brandLogo img {
  height: 50px;
}
.brandLogo p {
  font-size: 30px;
  font-weight: 500;
  font-family: poppins;
  color: #0e0ed4;
}
.lightBlack {
  background-color: #4a4a4a !important;
}
.menuItem img {
  height: 18px;
}
.menuItem p {
  font-size: 14px;
  font-family: poppins;
  font-weight: 600;

}
.dropIcon {
  height: 10px;
}
.mainContainer {
  background-color: white;
  width: calc(100% - var(--sidebar-width));
  height: 100vh;
  transition: width 0.3s ease-in-out;
  overflow: auto;
}

.sidebarHidden + .mainContainer {
  width: 100%;
}
.subMenu {
  font-family: 10px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;
  opacity: 0.7;
}
.subMenu i{
  font-size: 6px;
  margin-right: 4px;
  position: relative;
  top: -3px;
}

/* Mobile responsive */
@media screen and (max-width: 768px) {
  :root {
    --sidebar-width: 100%;
  }
  .sidebarMain {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 2;
  }
  .sidebarHidden {
    width: 0;
  }
  .sidebarVisible {
    width: 100%;
  }
}
.barIcon {
  height: 20px;
  filter: brightness(0) invert(1);
}
.topNavMain {
  background-color: #0E0ED4;
  height: 130px;
}
.navRightDiv img {
  height: 30px;
}
.textPrimary{
  color: #0E0ED4;
}
.notificationDiv p {
  font-size: 10px;
  background-color: red;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  text-align: center;
  color: white;
  font-weight: 500;
  position: relative;
  top: 15px;
  left: -10px;
}
.notificationDiv img {
  height: 28px;
  position: relative;
  top: 2px;
  filter: brightness(0) invert(1);
}
.notificationDiv {
  cursor: pointer;
}
.loginMain {
  width: 400px;
}
.bgGradient {
  background: linear-gradient(to bottom, skyblue, white);
}
.loginMain h3 {
  font-family: poppins;
}
.topCard {
  background: white;
}
.topCard img {
  height: 35px;
  filter: brightness(0) invert(1);
}
.topCard h2 {
  font-family: poppins;
  margin-bottom: 0px;
}
.topCard h6 {
  font-family: sans-serif;
  font-weight: 600;
  margin-bottom: 0px;
}
.borderRadius24{
  border-radius: 24px;
}
.borderRadius16{
  border-radius: 16px;
}





.topActionForm input, select, button{
  height: 45px;
}
.table>:not(caption)>*>* {
  padding: 1.5rem .5rem;
  background-color: var(--bs-table-bg);
  border-bottom-width: 1px;
  box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}
.noRecordFoundMain {
  height: 75vh;
  background-color: #353535;
  border-radius: 20px;
}
.noRecordFoundInner {
  width: 800px;
  white-space: wrap;
  text-align: center;
}
.noRecordFoundInner h1 {
  margin-bottom: 80px;
  font-size: 50px;
  font-family: "poppins";
}
.noRecordFoundInner p {
  font-family: "sans-sirf";
  font-size: 30px;
}
.driverApprovalMain input:checked{
  height: 30px; 
  font-size: 30px;
 }